*{
	margin: 0;
	padding:0;font-family: verdana;

}
body{
	background-color: #5DD441;
}


div{
}

.contenedor-flexbox{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}

.caja{
	flex: 20%;
	margin:4.5px;
	border-radius: 12px;
	border: 1px solid green;
	box-shadow: 3.5px 3.5px 3.5px black;
}

.caja img{
	width: 120px;
}

.caja img:hover{
	/*transform: scale(2.5,2.5);*/
	animation-duration: 2s;
	animation-name: productos;
}


.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu .logo{
	margin-top: 20px;
	margin-left: 20px;
	animation-name: logo;
	animation-duration: 2s;
}

.menu .items a{
	text-decoration: none;
	border: solid 1px black; 
	box-shadow: 2px 2px 2px black;
	padding: 20px;
	margin-right: 10px;	
	border-radius: 15px;
}

.menu .items a:hover{
	background-color: #33FF85;
	color: white;
}

@keyframes logo{
	from{
		transform: translate(-250px, 0px);
	}
	to{
		transform: translate(0px, 0px);
	}

}

@keyframes productos{
	from{
		transform: scale( 0.5, 0.5);
	}
	to{
		transform: scale( 3, 3);
	}

}

@keyframes menu{
    from {
        transform: scale(0.9,0.9) rotate(0deg);
    }

    to {
        background-color: green;
        color: white;
    }
}

/*dispositivos grandes*/
@media (max-width: 600px){
	.menu {
		display: block;
	}
	.menu a{
		display: block;
	}
}

/*tablets*/
@media (max-width: 768px){
	.caja {
		flex: 40%;
	}
}

/* celulares*/
@media (max-width: 480px){
	.caja {
		flex: 80%;
	}
}	